.skills {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 70px 0;
}

.skills__block {
    display: grid;
    grid-template-columns: repeat(4, minmax(270px, auto));
    grid-template-rows: repeat(2, minmax(270px, auto));
    gap: 15px;
    padding-top: 13vh;
}

.skills__block_item {
    border: 1px solid #000000;
    border-radius: 65px;
    padding: 35px 30px 25px 30px;
    transition: 0.6s;
}

.skills__block_icon img {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.skills__block_subtitle {
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
}

.skills__pt_12 {
    padding-top: 12px;
}

.skills__pt_15 {
    padding-top: 15px;
}

.skills__pt_22 {
    padding-top: 26px;
}

.skills__block_descr {
    font-weight: 500;
    font-size: 12px;
}


.delay-1 {
    animation-delay: 0.5s;
}

.delay-2 {
    animation-delay: 0.9s;
}

.delay-3 {
    animation-delay: 1.3s;
}

.delay-4 {
    animation-delay: 1.7s;
}

.delay-5 {
    animation-delay: 2.1s;
}

.delay-6 {
    animation-delay: 2.5s;
}

.delay-7 {
    animation-delay: 2.9s;
}

.delay-8 {
    animation-delay: 3.3s;
}
